{% comment %}
  Paste analytics code snippet here as provided by your platform (for example from Google Analytics or Matomo).
  To avoid collecting stats from your development server, this code will be added to the head of every page ONLY during production build!
{% endcomment %}
<!-- Analytics -->
{% if site.umami_website_id %}
  <script
    defer
    src="{{ site.umami_script_url }}"
    data-website-id="{{ site.umami_website_id }}"
    {% if site.umami_domains %}
      data-domains="{{ site.umami_domains }}"
    {% endif %}
  ></script>
{% endif %}
