---
# collection "Browse" page
layout: page
custom-foot: js/browse-js.html
---
{{ content }}

<div class="container-fluid">
  <div class="row mb-2 align-items-center">
    <div class="col-12 col-md-auto text-center text-md-start mb-2 mb-md-0">
      <div
        class="btn-group btn-group-toggle d-flex flex-wrap justify-content-center align-items-center"
        data-toggle="buttons"
        role="group"
        aria-label="Anzeigeoptionen"
      >
        <a
          href="{{ '/timeline.html' | relative_url }}"
          class="btn btn-outline-primary btn-lg btn-sm-md"
          aria-label="Zeige die Sammlung auf einer Zeitachse"
        >
          {{ site.data.translations._layouts['browse.html'].timeline[site.lang] | default: 'Timeline' }}
        </a>
        <a
          href="{{ '/subjects.html' | relative_url }}"
          class="btn btn-outline-primary btn-lg btn-sm-md"
          aria-label="Zeige eine Liste von Schlagwörtern"
        >
          {{ site.data.translations._layouts['browse.html'].subjects[site.lang] | default: 'Subjects' }}
        </a>
        <a
          href="{{ '/eras.html' | relative_url }}"
          class="btn btn-outline-primary btn-lg btn-sm-md"
          aria-label="Zeige eine Liste von Epochen"
        >
          {{ site.data.translations._layouts['browse.html'].eras[site.lang] | default: 'Eras' }}
        </a>
      </div>
    </div>

    <div class="col align-self-end">
      <form class="d-flex" role="search" id="lunrSearch" onsubmit="event.preventDefault(); submitFilter();">
        <div class="input-group input-group-lg">
          <input
            type="text"
            class="form-control"
            id="filterTextBox"
            placeholder="{{ site.data.translations['_layouts']['browse.html']['filter'][site.lang] | default: 'Filter' }} ..."
            aria-label="{{ site.data.translations['_layouts']['browse.html']['search'][site.lang] | default: 'Search' }}"
          >
          <button
            class="btn btn-secondary"
            type="submit"
            title="{{ site.data.translations['_layouts']['browse.html']['filter-items'][site.lang] | default: 'Filter items' }}"
            id="filterButton"
          >
            {{ site.data.translations._layouts['browse.html'].search[site.lang] | default: 'Search' }}
          </button>
          <button
            class="btn btn-outline-secondary text-dark filter"
            type="reset"
            onclick="event.preventDefault(); resetFilter();"
            data-filter=""
          >
            {{ site.data.translations._layouts['browse.html'].reset[site.lang] | default: 'Reset' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="h2 mt-2 text-center" id="numberOf"></div>

<div id="loadingIcon" class="text-center">
  <div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">
      {{- site.data.translations._layouts['browse.html'].loading[site.lang] | default: 'Loading' }}...</span
    >
  </div>
</div>

<div class="row" id="browseItems"></div>
