---
# Term cloud layout
# used by default subjects and location page
# can be used for any metadata field cloud
layout: page
---
{{ content }}

<div class="d-flex justify-content-between align-items-center mb-2">
  <div
    class="btn-group btn-group-toggle d-flex align-items-center"
    data-toggle="buttons"
    role="group"
    aria-label="Anzeigeoptionen"
  >
    <a
      href="{{ '/browse.html' | relative_url }}"
      class="btn btn-outline-primary"
      aria-label="Zeige die Sammlungsübersicht"
    >
      {{ site.data.translations._layouts['browse.html'].browse[site.lang] | default: 'Browse' }}
    </a>
    <a
      href="{{ '/timeline.html' | relative_url }}"
      class="btn btn-outline-primary"
      aria-label="Zeige die Sammlung auf einer Zeitachse"
    >
      {{ site.data.translations._layouts['browse.html'].timeline[site.lang] | default: 'Timeline' }}
    </a>
    <a
      href="{{ '/subjects.html' | relative_url }}"
      class="btn btn-outline-primary"
      aria-label="Zeige eine Liste von Schlagwörtern"
    >
      {{ site.data.translations._layouts['browse.html'].subjects[site.lang] | default: 'Subjects' }}
    </a>
  </div>
</div>

{%- comment -%}
  Figure out default "Subjects" and "Locations" page cloud values as configured in in "theme.yml",
  and set default values for cloud include.
{%- endcomment -%}
{%- if page['cloud-fields'] == 'site.data.theme.subjects-fields' -%}
  {% assign fields = site.data.theme['subjects-fields'] %}
  {% assign min = site.data.theme['subjects-min'] | default: 1 %}
  {% assign stopwords = site.data.theme['subjects-stopwords'] %}
{%- elsif page['cloud-fields'] == 'site.data.theme.locations-fields' -%}
  {% assign fields = site.data.theme['locations-fields'] %}
  {% assign min = site.data.theme['locations-min'] | default: 1 %}
  {% assign stopwords = site.data.theme['locations-stopwords'] %}
{%- else -%}
  {% assign fields = page['cloud-fields'] | default: 'subjects' %}
  {% assign min = page['cloud-min'] | default: 1 %}
  {% assign stopwords = page['cloud-stopwords'] %}
{%- endif -%}

{% assign cloud_id = 'cloud-div-' | append: fields | slugify %}
<div id="{{ cloud_id }}" class="text-center my-4 bg-{{ page.background | default: 'transparent' }} p-2"></div>
{% include js/cloud-js.html id=cloud_id fields=fields min=min stopwords=stopwords shuffle=page.shuffle button=page.button %}
